In [14]:
import pandas as pd

In [25]:
path = "./olypic_games_clean.csv"
df = pd.read_csv(path)

In [17]:
path = "athletes_data_clean.csv"
df2 = pd.read_csv(path)
df2

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Sport,Event,Medal
0,1,A Dijiang,M,24,180.0,80.0,China,CHN,1992 Summer,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170.0,60.0,China,CHN,2012 Summer,Judo,Judo Men's Extra-Lightweight,NaN
2,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,Christine Jacoba Aaftink,F,25,185.0,82.0,Netherlands,NED,1992 Winter,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
205874,135569,Andrzej ya,M,29,179.0,89.0,Poland-1,POL,1976 Winter,Luge,Luge Mixed (Men)'s Doubles,NaN
205875,135570,Piotr ya,M,27,176.0,59.0,Poland,POL,2014 Winter,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
205876,135570,Piotr ya,M,27,176.0,59.0,Poland,POL,2014 Winter,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
205877,135571,Tomasz Ireneusz ya,M,30,185.0,96.0,Poland,POL,1998 Winter,Bobsleigh,Bobsleigh Men's Four,NaN
205878,135571,Tomasz Ireneusz ya,M,34,185.0,96.0,Poland,POL,2002 Winter,Bobsleigh,Bobsleigh Men's Four,NaN

In [5]:
df2["Medal"].isnull().sum()

175785

In [5]:
df2["Medal"].fillna("none", inplace = True)

In [6]:
df2.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Sport,Event,Medal
0,1,A Dijiang,M,24,180.0,80.0,China,CHN,1992 Summer,Basketball,Basketball Men's Basketball,none
1,2,A Lamusi,M,23,170.0,60.0,China,CHN,2012 Summer,Judo,Judo Men's Extra-Lightweight,none
2,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,Speed Skating,Speed Skating Women's 500 metres,none
3,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,Speed Skating,"Speed Skating Women's 1,000 metres",none
4,5,Christine Jacoba Aaftink,F,25,185.0,82.0,Netherlands,NED,1992 Winter,Speed Skating,Speed Skating Women's 500 metres,none

In [ ]:
### remove the comma's that kept giving the parser in pgadmin errors
df2["Event"] = df2["Event"].apply(lambda x: x.replace(',',''))

In [23]:
### remove the quotes that kept giving the parser in pgadmin errors
df2["Name"] = df2["Name"].apply(lambda x: x.replace('"',''))
df2

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Sport,Event,Medal
0,1,A Dijiang,M,24,180.0,80.0,China,CHN,1992 Summer,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170.0,60.0,China,CHN,2012 Summer,Judo,Judo Men's Extra-Lightweight,NaN
2,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,Speed Skating,Speed Skating Women's 1000 metres,NaN
4,5,Christine Jacoba Aaftink,F,25,185.0,82.0,Netherlands,NED,1992 Winter,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
205874,135569,Andrzej ya,M,29,179.0,89.0,Poland-1,POL,1976 Winter,Luge,Luge Mixed (Men)'s Doubles,NaN
205875,135570,Piotr ya,M,27,176.0,59.0,Poland,POL,2014 Winter,Ski Jumping,Ski Jumping Men's Large Hill Individual,NaN
205876,135570,Piotr ya,M,27,176.0,59.0,Poland,POL,2014 Winter,Ski Jumping,Ski Jumping Men's Large Hill Team,NaN
205877,135571,Tomasz Ireneusz ya,M,30,185.0,96.0,Poland,POL,1998 Winter,Bobsleigh,Bobsleigh Men's Four,NaN
205878,135571,Tomasz Ireneusz ya,M,34,185.0,96.0,Poland,POL,2002 Winter,Bobsleigh,Bobsleigh Men's Four,NaN

In [9]:
df3 = df2.applymap(",", "")
df3.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Sport,Event,Medal
0,1,A Dijiang,M,24,180.0,80.0,China,CHN,1992 Summer,Basketball,Basketball Men's Basketball,none
1,2,A Lamusi,M,23,170.0,60.0,China,CHN,2012 Summer,Judo,Judo Men's Extra-Lightweight,none
2,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,Speed Skating,Speed Skating Women's 500 metres,none
3,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,Speed Skating,"Speed Skating Women's 1,000 metres",none
4,5,Christine Jacoba Aaftink,F,25,185.0,82.0,Netherlands,NED,1992 Winter,Speed Skating,Speed Skating Women's 500 metres,none

In [18]:
df2["Medal"].isnull().values.any()

False

In [22]:
df2.dtypes

ID          int64
Name       object
Sex        object
Age         int64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Sport      object
Event      object
Medal      object
dtype: object

In [24]:
df2.to_csv('athlete_clean_data_2.csv', index=False)

In [21]:
df2.to_json('athlete_clean_data.json', orient="records")